body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
   
  }
  
  /* Sección Barra de Navegación */
  
  nav {
    background-color: rgb(26, 117, 188);
    /* display: flex; */
  }
  
  nav img {
    align-items: center;
    border-radius: 100px;
    justify-content: center;
    padding: 10px;
    width: 80px;
  }
  
  
  
  nav ul {
    align-items: center;
    color: rgb(240, 248, 255);
    display: flex;
    font-size: 25px;
    gap: 100px;
    list-style-type: none;
     
  
  }
  
  nav ul a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
  }
  
  .nav-item {
    margin: auto;
    padding: auto;
    color: rgb(255, 255, 255);
  }
  
  
  

  
  
  
  /* ===== FORMULARIO DE CONTACTO ===== */
  
  .seccionContacto {
      background: rgb(44, 43, 43);
      color: rgb(69, 243, 255);

  }


    .container {
      width: 80%;
      padding: 20px;
    }
    
    .container h2 {
      width: 100%;
      font-size: 36px;
      text-align: center;
      margin-bottom: 10px;
    }
    
    .container .row100 {
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    
    .container .row100 .col {
      position: relative;
      width: 100%;
      padding: 0 10px;
      margin: 30px 0 10px;
      transition: 0.5s;
    }
    
    .container .row100 .inputBox {
      position: relative;
      width: 100%;
      height: 40px;
      color: #45f3ff;
    }
    
    .container .row100 .inputBox input,
    .container .row100 .inputBox.textarea textarea {
      position: absolute;
      width: 100%;
      height: 100%;
      background: transparent;
      box-shadow: none;
      border: none;
      outline: none;
      font-size: 18px;
      padding: 0 10px;
      z-index: 1;
      color: #000;
    }
    
    .container .row100 .inputBox .text {
      position: absolute;
      top: 0;
      left: 0;
      line-height: 40px;
      font-size: 18px;
      padding: 0 10px;
      transition: 0.5s;
      pointer-events: none;
    }
    
    .container .row100 .inputBox input:focus + .text,
    .container .row100 .inputBox input:valid + .text {
      top: -35px;
      left: -10px;
    }
    
    .container .row100 .inputBox .line {
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 2px;
      background: #45f3ff;
      transition: 0.5s;
      border-radius: 2px;
      pointer-events: none;
    }
    
    .container .row100 .inputBox input:focus ~ .line,
    .container .row100 .inputBox input:valid ~ .line {
      height: 100%;
    }
    
    .container .row100 .inputBox .textarea {
      position: relative;
      width: 100%;
      height: 100px;
      padding: 10px 0;
    }
    
    .container .row100 .inputBox.textarea textarea {
      height: 100%;
      resize: none;
    }
    
    .container .row100 .inputBox textarea:focus + .text,
    .container .row100 .inputBox textarea:valid + .text {
      top: -35px;
      left: -10px;
    }
    
    .container .row100 .inputBox textarea:focus ~ .line,
    .container .row100 .inputBox textarea:valid ~ .line {
      height: 100%;
    }
    
    input[type="submit"] {
      border: none;
      padding: 7px 35px;
      cursor: pointer;
      outline: none;
      background: #45f3ff;
      color: #000;
      font-size: 18px;
      border-radius: 2px;
    }
    
    input[type="submit"]:active {
      opacity: 0.8;
    }
    
    input[type="submit"]:hover{
      color: rgb(123, 119, 119);
      
    }

/* ===== Redes Sociales ===== */
.redes {
  align-items: center;
  background-color: rgb(181, 181, 181);
  color: rgb(44, 43, 43);
  justify-content: center;
  flex-flow: row wrap;
  padding-top: 1.5em;
}
.redes h2 {
  text-align: center;
}

.redes .list-group {
  display: flex;
  flex-wrap: wrap;
}

.redes a {
  color: rgb(26, 117, 188);
}

.list-group {
  align-items: center;
  gap: 80px;
  justify-content: center;
}

.list-group-item {
  color: rgb(43, 43, 43);
}

.fa-square-instagram:hover {
  background-image: url("imagenes/instagram.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 1.5px;
  color: transparent;
  transform: scale(2.5);
  transition: 0.4s ease-in-out;
}

.fa-facebook:hover {
  background-image: url("/imagenes/facebook.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 1.5px;
  color: transparent;
  transform: scale(2.5);
  transition: 0.4s ease-in-out;
}

.fa-twitter:hover {
  background-image: url("/imagenes/twitter.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 1.5px;
  color: transparent;
  transform: scale(2.5);
  transition: 0.4s ease-in-out;
}

.fa-whatsapp:hover {
  background-image: url("imagenes/WhatsApp.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 1.5px;
  color: transparent;
  transform: scale(2.5);
  transition: 0.4s ease-in-out;
}

/* ===== Quitamos margen y fondo a los íconos de las redes sociales ===== */
.redes li {
  --bs-list-group-bg: transparent;
  --bs-list-group-border-color: none;
}

li {
  list-style-type: none; /*quita los puntitos de la lista */
  margin-left: -3%;
}



 /* ===== SECCION FOOTER ===== */

.footer {
  display: flex;
  background: rgb(64, 64, 64);
}

footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .copyright {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
}

footer li {
  display: flex;
  justify-content: center;
  align-content: center;
}
.item a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.item a:hover {
  color: rgb(69, 243, 255);
}

/* SCROLL */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: rgb(181, 181, 181);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(26, 117, 188);
}
